@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');

:root{
  --color1: #bae8e8;
  --color2: #7fe8e8;
  --border-radius: 10px;
}

.container {
  /* border: 1px solid green; */
  max-width: 756px;
  margin: auto;
  padding: .8em;
}

/* Header Styles */
header{
  background-color: black;
  padding: 0.8em 1em
}

header h1{
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  /* font-family: 'Bebas Neue', cursive; */

}

/* Main Section styling */
.app{
  margin-top: 25px;
}

/* Form Stylings */

.input-field{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

input, select{
  font-size: 0.9em;
  padding: 0.8em 0.6em;
  outline: none;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
}

input:focus, select:focus{
  border: 1px solid var(--color2);
}

select {
  background-color: transparent;
  font-family: inherit;
}

input[type="submit"] {
  font-size: 1em;
  background-color: var(--color1);
}

/* Table Styling */

.table{
  margin-top: 3em;
  overflow: auto;
}

.table-header, .table-record{
  min-width: 470px;
  display: flex;
  justify-content: space-between;
}

.table-header div, .table-record div{
  /* border: 1px solid palevioletred; */
  text-align: center;
  flex: 1 0 0;
  padding: 0.5em 0.4em;
  border: 1px solid goldenrod;
}

.table-header{
  background-color: goldenrod;
  color: white;
}

.table-record{
  background-color: lemonchiffon;
}

.table-header div{
  font-weight: bold;
}

