@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');

:root{
  --color1: #bae8e8;
  --color2: #7fe8e8;
  --color3: goldenrod;
  --border-radius: 10px;
}

.container {
  max-width: 756px;
  margin: auto;
  padding: .8em;
}

/* Create Invoice Button  */

.create-invoice-container{
  text-align: center;
}

.create-invoice-button{
  padding: 1em;
  background-color: transparent;
  font-size: 1em;
  font-weight: bolder;
  color: var(--color3);
  border: 1px solid var(--color3);
  border-radius: var(--border-radius);
  transition: 0.3s
}

.create-invoice-button:hover{
  background-color: var(--color3);
  color: white;
}

/* Main Section styling */
.app-main{
  margin-top: 25px;
}